ENV=development
HTTP_ADDRESS=:8083

DB_DSN=postgres://postgres:postgres@localhost:5434/order_db?sslmode=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5m

# Local host listener: localhost:29092
# Docker network listener: kafka:9092
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=order-service
KAFKA_TOPIC_ORDER_CREATED=order.created
KAFKA_TOPIC_ORDER_ASSIGNED=order.assigned
KAFKA_TOPIC_ORDER_COMPLETED=order.completed
KAFKA_TOPIC_ORDER_CANCELLED=order.cancelled
KAFKA_TOPIC_REVIEW_CREATED=review.created
KAFKA_TOPIC_COMPLAINT_CREATED=complaint.created

HEADER_HMAC_KEY=diploma-internal-hmac-secret-key-2026
USER_SERVICE_URL=http://localhost:8082
JWT_PUBLIC_KEY_PATH=../keys/public.pem
WS_ALLOWED_ORIGIN=

LOG_LEVEL=info
LOG_FORMAT=json
